@font-face {
    font-family: "PixelMix";
    src: url("../../fonts/pixelmix.ttf");
}

.info{

}

.message{
    margin: auto;
    color: black;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
    font-family: 'PixelMix';
    padding: 1vh;
    font-size: 1.7vh;
    border: 2px dashed black;
    text-align: center;
    width: 90%;
    background-color: white;
    overflow: hidden;
}

#header{
    font-size: 6vw;
}
#message{
    font-size: 3vw;
}
