@font-face {
    font-family: "Lanenar";
    src: url("../fonts/LANENAR_.ttf");
}

.di{
    height: 100%;
    width: 100%;
    text-align: center;
}

.info{
    height: 20%;
    width: 30%;
    margin:auto;
    font-family: 'Lanenar';
}

#city{
    padding-top: 10px;
    font-size: 3vh;
}
#temp{
    font-size: 5vh;
}
#wind{
    font-size: 2vh;
}
#pol{
    font-size: 2vh;
}

.dogarea{
    height: 70%;
    width: 90%;
    /*background-color: brown;*/
    margin: auto;
}

.weathercomment{
    height: 10%;
    width: 90%;
    /*background-color: yellow;*/
    margin: auto;
}
