@font-face {
    font-family: "Lanenar";
    src: url("../fonts/LANENAR_.ttf");
}

.di{
    height: 100%;
    width: 100%;
    text-align: center;
}

.weatherinfo{
    height: 30%;
    margin:auto;
}

.lowerbody{
    height: 70%;
}

.weatheranimation{
    position: relative;
    margin: auto;
    height: 60%;
}

.weathercontainer{
    position: relative;
    height: 40%;
    width: 100%;
    margin: auto;
}
.weathercomment{
    position: absolute;
    width: 100%;
    bottom: 5%;
}

.fixedtop{
    width: 40%;
    padding-top: 5%;
}
.notfixedtop{
    width: 100%;
    height: 100%;
}
