.info{
    color: white;
}

#city{
    padding-top: 10vh;
    font-size: 3.1vh;
}
#temp{
    font-size: 5.5vh;
}
.otherDay #temp{
    font-size: 4.5vh;
}
#wind{
    font-size: 2.3vh;
}
#pol{
    padding-top: 0.2vh;
    font-size: 1.9vh;
}
