.info{
    color: white;
    padding-top: 10vh;
}
.other{
    padding-top: 8vh;
}
#city{
    font-size: 3.1vh;
}
#time{
    font-size: 2.6vh;
    padding-top: 0.4vh;
    padding-bottom: 0.4vh;
}
#temp{
    font-size: 5.5vh;
}
.otherDay #temp{
    font-size: 4.5vh;
}
#wind{
    font-size: 2.3vh;
}
#pol{
    padding-top: 0.2vh;
    font-size: 1.9vh;
}
