.bar{
    height: 100%;
    width: 20vw;
    display: inline-block;
    position: relative;
    font-size: 4vh;
    background-size: cover;
    background-position: center;
}

.bartime{
    padding-top: 0.5vh;
    height: 15%;
    width:100%;
    font-size: 1.6vh;
    color: white;
    -webkit-filter: drop-shadow(0px 0px 3px rgba(0, 0, 0, 1));
     filter: drop-shadow(0px 0px 3px rgba(0, 0, 0, 1));
}

.barweathergif{
    height: 100%;
    width: 100%;
    overflow:hidden;
    object-fit: contain;
    position: absolute;
    opacity: 50;
}

.bartemp{
    height: 18%;
    width: 100%;
    position: absolute;
    bottom: 0;
    color: white;
    font-size: 2.9vh;
    filter: drop-shadow(0px 0px 3px rgba(0, 0, 0, 1));
}

.fixed{
    padding-top: 3vh;
    width:90%;
    max-width: 125px;
    opacity: 0.6;
    filter: drop-shadow(4px 4px 1px rgba(0, 0, 0, 0.3));
}
.overcast{
    padding-top: 2.7vh;
    animation: MoveUpDown 2s infinite steps(5);
}
.cloud{
    padding-top: 4vh;
    animation: MoveUpDown 2s infinite steps(5);
}
.notfixed{
    width:100%;
    height:100%;
}
.fixedsun{
    padding-top: 3vh;
    width:80%;
    max-width: 100px;
    animation: MoveUpDown 2s infinite steps(5);
    filter: drop-shadow(0px 0px 10px rgba(255, 240, 200, 1));
}
.fixedmoon{
    padding-top: 3vh;
    width:80%;
    max-width: 100px;
    opacity: 0.9;
    animation: MoveUpDown 2s infinite steps(5);
    filter: drop-shadow(0px 0px 10px rgba(255, 255, 255, 1));
}
@keyframes MoveUpDown {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(0px);
  }
}
