.bar{
    height: 100%;
    width: 20vw;
    display: inline-block;
    box-shadow:inset 0px 0px 0px 1px black;
    position: relative;
}

#bartime{
    font-size: 4vh;
    color: white;
    position: absolute;
}

#imgtest{
    height: 100%;
    width: 100%;
}
