.bar{
    height: 100%;
    width: 20vw;
    display: inline-block;
    position: relative;
    box-shadow:inset 0px 0px 0px 1px black;
    font-size: 4vh;
    background-image: url(https://cdn.dribbble.com/users/1895433/screenshots/4007015/jarecki-wallpaper-material-moutains-2_1x.png);
    background-size: cover;
    background-position: center;
}

.bartime{
    height: 15%;
    width:100%;
    font-size: .65em;
    color: white;
}

.barweathergif{
    height: 60%;
    width: 100%;
    opacity: 0.5;
    overflow:hidden;
    object-fit: contain;
}
#barweatheranimation{
    padding-top: 2vh;
    width: 100%;
}

.bartemp{
    height: 25%;
    width: 100%;
    position: absolute;
    bottom: 0;
    color: white;
    font-size: 4vh;
}
