@font-face {
    font-family: "Lanenar";
    src: url("../fonts/LANENAR_.ttf");
}

.wb{
    height: 100%;
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}
body{
    font-family: 'Lanenar';
    font-size: 2vw;
}
