.bgdawn{
    background: #FF5F6D;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #FFC371, #FF5F6D);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #FFC371, #FF5F6D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-attachment: fixed;
}
.bgnoon{
    background: #56CCF2;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #2F80ED, #56CCF2);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #2F80ED, #56CCF2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-attachment: fixed;
}
.bgevening{
    background: #355C7D;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #C06C84, #6C5B7B, #355C7D);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #C06C84, #6C5B7B, #355C7D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-attachment: fixed;
}
.bgnight{
    background: #0f0c29; /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-attachment: fixed;
}

.otherDay{
    background-image: url(https://i.imgur.com/72Lk95x.png);
    background-size: cover;
}

.day{
    background-size: cover;
}

.morning .day{
    background-image: url(https://i.imgur.com/t8YAgSN.png);
}
.lateMorning .day{
    background-image: url(https://i.imgur.com/TnmqFD7.png);
}
.afternoon .day{
    background-image: url(https://i.imgur.com/72Lk95x.png);
}
.lateAfternoon .day{
    background-image: url(https://i.imgur.com/tti4nmD.png);
}
.evening .day{
    background-image: url(https://i.imgur.com/sJbvfPh.png);
}
.lateEvening .day{
    background-image: url(https://i.imgur.com/XEPQ8BW.png);
}
.night .day{
    background-image: url(https://i.imgur.com/4vk9uN3.png);
}
.lateNight .day{
    background-image: url(https://i.imgur.com/V2RAlzQ.png);
}
