@import "../../node_modules/react-toggle-switch/dist/css/switch.min.css";

.se{
    height: 100%;
    background-color: #FFFAF0;
}

.heading{
    padding-top: 6vh;
}

.location{
    padding-left: 9vw;
    padding-top: 6vh;
}
#locationTag{
    float: left;
    font-size: 15pt;
}
.switch{
    background-color: white;
}
.locationInput{
    height: 10%;
    padding-top: 2vh;
    font-size: 10pt;
    width: 80%;
    margin: auto;
}

.settingSection{
    height: 40%;
    float: left;
    width: 50%;
    font-size: 15pt;
    text-align: left;
}
.settingLabelLeft{
    padding-left: 5vh;
}
.settingLabelRight{
    padding-left: 10vh;
}
.settingLabelLeft:after{
    content: "";
    display: table;
    clear: both;
}
#title{
    font-size: 20pt;
}
