.se{
    height: 100%;
    background-color: #FFFAF0;
    overflow: hidden;
    font-size: 5vw;
    padding: 5vh;
    box-sizing: border-box;
    text-align: left;
}
.heading{
    font-size: 2em;
    text-align: center;
}
.location{
    padding-top: 5vh;
    float: left;
    width: 100%;
}
.locationerrormsg{
    color: red;
}
.toggle > label{
    float: left;
    width: 100%;
}
.toggle > input{
    display: none;
}
.toggle span{
    display: inline-block;
    width: 2.5em;
    height: 1em;
    background: #ccc;
    float: right;
    border-radius: 1em;
    padding: 0.2em;
    margin-top: -0.2em;
    position: relative;
    transition: all 0.2s;
    box-shadow: 0.1em 0.1em 0.5em rgba(0,0,0,0.5);
}
.toggle span::before{
    content: "";
    display: block;
    width: 1em;
    height: 1em;
    background: white;
    border-radius: 50%;
    position: absolute;
    left: 0.2em;
    transition: all 0.2s;
}
.toggle input:checked ~ * span{
    background: #3388ff
}
.toggle input:checked ~ * span::before{
    left: 1.7em;
}
.paragraph{
    font-size: 0.7em;
    padding-top: 12vh;
    margin: auto;
}
.paragraph > .userData{
    margin: 0;
}

.headingTwo{
    padding-top: 10vh;
    text-align: center;
}
.userData{
    position: relative;
    margin-top: 5vh;
    height: 1.2em;
}
.userData > input{
    font-size: inherit;
    width: 100%;
    background: none;
    border-bottom: 0.1em solid black;
    padding: 0.2em;
}
.userData input::placeholder{
    transition: all 0.2s;
    opacity: 0;
}
.userData input:focus::placeholder{
    opacity: 1;
}
.userData label{
    position: absolute;
    bottom: 0%;
    width: 100%;
    padding: 0.2em;
    transition: all 0.2s;
    color: grey;
}
.userData input:focus ~ label{
    bottom: 100%;
    font-size: 0.75em;
    color: #3388ff;
}
.userData input:valid ~ label{
    bottom: 100%;
    font-size: 0.75em;
    color: #3388ff;
}
.centeredButton{
    margin-top: 5vh;
    width: 100%;
    text-align: center;
}
button{
    font-size: 0.8em;
    padding: 1em;
    border-radius: 0.5em;
    background: #3388ff;
    color: white;
    box-shadow: 0.1em 0.1em 0.5em rgba(0,0,0,0.5);
}
button:active{
    background: #55aaff;
}
