@font-face {
    font-family: "PixelMix";
    src: url("/fonts/pixelmix.ttf");
}

*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    font-family: 'PixelMix';
}

::-webkit-scrollbar {
    display: none;
}

html{
    margin: 0px;
    width: 100%;
    height: 100%;
}

.App {
    height: 100vh;
    overflow-y: scroll;
    text-align: center;
}

.sideIndicator{
    z-index: 2;
    position: absolute;
    right: 0;
    top: 30vh;
    color: white;
    font-size: 2vh;
    padding-right: 1em;
    text-shadow: 0.05em 0.05em 0.1em rgba(0,0,0,0.5);
    animation: sideways 1s infinite steps(5);
}

.sideIndicator:after{
    content: " ►";
    text-shadow: 0.05em 0.05em 0.1em rgba(0,0,0,0.5);
}

@keyframes sideways {
    0%{
        transform: translateX(0em);
    }
    50%{
        transform: translateX(-0.2em);
    }
    100%{
        transform: translate(0em);
    }
}

.doginterface{
    height: 76vh;
    width: 100vw;
    clear: both;
    margin: auto;
    /* background-image: url(https://i.imgur.com/fQeuosm.png ); */
}

.weatherbar{
    height: 20vh;
    width: 100vw;
}

.indicator{
    height: 4vh;
    width: 100vw;
    font-size: 3vh;
    background-color: #FFFAF0;
}

.indicator span{
    animation: upDown 1s infinite steps(5);
    display: inline-block;
}

@keyframes upDown {
    0%{
        transform: translateY(0em);
    }
    50%{
        transform: translateY(-0.1em);
    }
    100%{
        transform: translateY(0em);
    }
}

.settings{
    height: 100vh;
    width: 100vw;
    clear:both;
    margin:auto;

}
