html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
}

::-webkit-scrollbar {
    display: none;
}

html{
  margin: 0px;
  background-image: linear-gradient(to right top, #3969b0, #0089c8, #00a6cd, #00c1c3, #35d8ae);
  width: 100%;
  height: 200%;
}
body{
}

.App {
    height: 200%;
    text-align: center;
}

.doginterface{
    height: 80vh;
    width: 60vw;
    clear: both;
    margin: auto;
}

.weatherbar{
    height: 20vh;
    width: 100vw;
    clear:both;
    margin:auto;
}

.settings{
    height: 80vh;
    width: 50vw;
    clear:both;
    margin:auto;
}
